:root {
  --mdc-theme-primary: rgb(17, 17, 17);
  --mdc-theme-secondary: rgb(0, 122, 255);
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: rgb(255, 59, 48);
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;

  --mdc-typography-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Calibri', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif
}

html, body {
  font-family: var(--mdc-typography-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  height: 100%;
  flex-direction: column;

  background-color: rgb(244, 244, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

hr, .hr {
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.root {
  padding-top: 64px;
}

.mdc-typography--headline4 {
  font-family: var(--mdc-typography-font-family);
}